* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* 字体大小/行高（字体大小的1.5倍） */
    font: 14px/1.5 Arial, Helvetica, sans-serif;
    display: grid;
    grid: auto / 1fr auto 1fr;
    /* 从左往右，三色渐变
    linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)) */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
    url(../imgs/背景.jpeg) center no-repeat;
    /* background-position: 0 0 ; */
    /* 背景图无法覆盖整个屏幕的时候 */
    min-height: 100vh;
    background-size: cover;
    /* 背景磨砂 */
    backdrop-filter: blur(4px);
    padding-bottom: 60px;
}

.page {
    grid-area: 1 / 2 / 2 / 3;
    /* 磨砂效果 */
    /* filter: blur(4px); */
    max-width: 600px;
    padding: 5px;
}

ul,li {
    list-style: none;
}

.search {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search_buttons {
    display: flex;
    padding: 3px;
}

.baidu_button,.bing_button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 4px; */
    padding: 4px 8px;
    transition: all 0.5s;
    cursor: pointer;
}

.baidu_button:hover,.bing_button:hover{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 4px 8px;
}

.baidu_button{
    margin-right: 10px;
}

.icon {
    width: 1em;
    height: 1em;
    margin-right: 2px;
}

.search_tab {
    /* width: 80%; */
    width: 100%;
    margin-top: 30px;
    cursor: pointer;
    position: relative;
}

.search_input{
    /* width: 100%; */
    width: 80%;
    border: 0;
    border-radius: 8px;
    outline: 0;
    padding: 0px 10px 0 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    /* 行高 */
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.search_input::placeholder {
    color: gray;
}

.search_input:hover {
    width: 100%;
}

.search_input:hover + .icon {
    right: 2%;
}

.search_input + .icon {
    width: 20px;
    height: 20px;
    margin: 0px;
    position: absolute;
    right: 12%;
    top: -10px;
    z-index: 1;
    transition: all .5s;
}

.websites {
    margin-top: 80px;
}

.items {
    margin-top: 30px;
}

.websites h2 {
    color: white;
}

.panel {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);
    padding: 10px;
    margin-top: 15px;
}

.tag {
    /* 文字竖着，变回横着 */
    float: left;
    white-space: nowrap;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 4px;
}

.tag:nth-child(4n+1) {
    background-color: lightblue;
}

.tag:nth-child(4n+2) {
    background-color: lightcyan;
}

.tag:nth-child(4n+3) {
    background-color: rgb(239, 183, 183);
}

.tag:nth-child(4n+4) {
    background-color: rgb(158, 162, 167);
}

